:root {
    --speed: 8s;
    --count: 8;
    --radius: 42%; /* distance from center */
}

main {
    width: 95%;
    aspect-ratio: 1 / 1;
    max-width: 600px;
    position: relative;
    border: solid 1px red;
    animation: rotate var(--speed) linear infinite;
    animation-timing-function: cubic-bezier(0.3, 0.1, 0.7, 0.9);
}

.img-view {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:
        rotate(calc(360deg / var(--count) * var(--i)))
        translateY(-1 * var(--radius))
        rotate(calc(-360deg / var(--count) * var(--i)))
        translate(-50%, -50%);
    animation: counter-rotate var(--speed) linear infinite;
    animation-timing-function: cubic-bezier(0.3, 0.1, 0.7, 0.9);
}

.img-view img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes counter-rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}
